subnet 10.0.0.0 netmask 255.255.255.0 {
  option routers 10.0.0.1;
  option subnet-mask 255.255.255.0;
  option domain-name-servers 8.8.8.8, 8.8.4.4;
  range 10.0.0.100 10.0.0.200;
}

{% for host in dhcp_hosts %}
host {{ host.HOSTNAME }} {
  hardware ethernet {{ host.MAC }};
  fixed-address {{ host.IP }};
}
{% endfor %}